.home {
    height: 82.5vh;
    transform: translateY(0);
    opacity: 1;
    transition: 0.75s ease-in-out;

    .brand {
        background: linear-gradient(135deg, var(--tert-col) 10%, var(--sec-col), pink);
        font-size: 200%;
        font-weight: 800;
        animation: gradient-anime 2s ease-in-out both alternate-reverse infinite;
        background-position: 0 50%;
        background-clip: text;
        background-size: 200% 200%;
        color: transparent;
    }

    .socials-list {
        bottom: 0;
    
        &::after, &::before {
            content: "";
            background-color: var(--sec-col);
        }

        > * {
            opacity: 1;
            transition: .5s .75s ease;
            transform: translate(0,0);
        }
    }
    
    @media screen and (min-width: 768px) {

        .socials-list {
            flex-direction: column;

            &::after {
                height: 100px;
                width: 1px;
            }
        }

        @starting-style {
            .socials-list > * {
                transform: translate(0, -10px);
                opacity: 0;
            }
        }
    }

    @media screen and (max-width: 768px) {

        .socials-list::before {
            height: 1px;
            width: 100px;
        }

        @starting-style {
            .socials-list > * {
                transform: translate(10px,0);
                opacity: 0;
            }
        }
    }

    @starting-style {
        & {
            transform: translateY(50px);
            opacity: 0;
        }
    }
}



.me-img {
    .myPic-bg {
        aspect-ratio: 1/1;
        background-color: var(--sec-col);
        width: 60%;
        clip-path: circle();
    }

    .img-cont {
        background-color: transparent;
        clip-path: circle();
        overflow: hidden;
    }

    img {
        width: 100%;
    }
}


@keyframes gradient-anime {
    from {
        background-position: 0 50%;
    }
    to {
        background-position: 100% 100%;
    }
}