.my-recent-projects {

    .img-box {
        aspect-ratio: 1/1;
        overflow: hidden;
        background-color: transparent;
        margin: auto;
    }

    small {
        color: #888;
    }
    

    .project-card {
        &.can-animate {
            opacity: 0;
            transition: .5s ease-in-out;
            transform: translateY(30px);
            
            &.animated {
                opacity: 1;
                transform: translateY(0);
            }

        }
    }
}